*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.addBtn{
    color: #fff;
    background-color: rgb(128, 106, 250);
    padding : 10px 4px 10px 4px;
    font-size: 12px;
    width: auto;
}
.addBtn:hover{
    background-color: rgb(247, 102, 126);
}
.btn{
    color: #fff;
    background-color: rgb(28, 31, 29);
    padding : 10px 4px 10px 4px;
    font-size: 12px;
    width: auto;
}

.btn:hover{
    background-color: rgb(247, 102, 187);
}
h3{
    color: rgb(158, 54, 255);
    font-style: italic;
    font-weight: bold;
}

.attendenceList{
    display: flex;
    justify-content: center;
}